body{
    margin:0;
    background: #8cf8e9;
}
.container{
    /* position: absolute; */
  
    /* transform: translate(-50%,-50%); */
    /* width: 100%;
    height: 100%; */
    /* margin-left: -33.33%;
  margin-right: -33.33%; */
    /* min-height: 200px; */
    /* border-radius: 10px;
    padding: 40px; */
    /* box-sizing: border-box */
}

.add{
    border: none;
    outline: none;
    height: 40px;
    width: 120px;
    font-size: 14px;
    background: #0e471e;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}
.btn-close{
    font-size: 14px;
    background: #cc0606;
    color: #fff;
    cursor: pointer;    
    /* margin-right:auto;
    text-align: right;   */
}
.close-con{
    text-align: right;
}
.new-user{
    margin: 0;
    padding: 10px 0 15px;
    font-size: 28px;
    font-weight: bold;
    color: #1a38e1;
    text-align: center
}