h4{
    left: 1000;
}

.navbar {
    background-color: #f4f9f9;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: left 0.3s ease-in-out;
  }
  
  .navbar.sidebar-closed {
    left: 0;
    width: 100%;
  }