.body{
    margin: 0;
    padding: 0;
    background:1a38e1
}
/* .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    width: 350px;
    min-height: 200px;
    background: #8cf8e9;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
} */
.header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;

}
.sign-in-text{
    margin: 0;
    padding: 10px 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #1a38e1;
    text-align: center
}

.inputs{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}
.inputs input[type="text"], 
.inputs input[type="password"]{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    width: 220px;
    color: #000000;
    background: 
    transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}
.inputs input[type="text"]:hover, 
.inputs input[type="password"]:hover{
    color: #0b0b0b;
    border: 1px solid #050505;
    box-shadow: 0 0 5px rgba(25, 52, 229, 0.3), 0 0 10px rgba(0,255,0,.2), 0 0 15px rgba(0,255,0,.1), 0 2px 0 black
}
.inputs input[type="text"]:focus, 
.inputs input[type="password"]:focus{border-bottom: 2px solid #0a0a0a}

.submit-container input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 220px;
    font-size: 14px;
    background: #1a38e1;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}
.submit-container{
    text-align: center;
}
            